# MongoDB Connection
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=atm_dashboard

# CORS (URLs yang boleh akses backend)
CORS_ORIGINS=https://atm-dashboard-9ci5.vercel.app,http://localhost:3000
